<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Your Pizza</title>
</head>
<body>
    <h1>Your Pizza</h1>
    <p>Size: {{size}}</p>
    <p>Toppings: {{toppings}}</p>
    <p>Gluten-Free Crust: {{gluten}}</p>
    <p>Special Instructions: {{comment}}</p>
    <p>Price: {{price}}</p>
    <p>{{freeDelivery}}</p>

    <a href="http://localhost:3000/build">Build another Pizza</a>
    <a href="http://localhost:3000">Back to Homepage</a>
</body>
</html>